/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dropdown-content {
  display: none;
  width: 200px;
  height: 300px;
  background-color: grey;
  border: 5px;
  border-color: black;
  border-radius: 7px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
